.text-center
  %h1 About
  .underline
  #about
    =image_tag("lemons.jpg", class: "img-responsive", style: "margin: 40px auto;max-width: 700px;")
    %p 
      %u Our mission is simple.
    %p We source the NEWEST + COOLEST FOOD PRODUCTS.
    %p From the MOST TALENTED FOOD ENTREPRENEURS.
    %p And offer them at a HUGE DISCOUNT: TYPICALLY 50% OFF!
    %p Delivered to your INBOX EVERY WEEK.
