%h4
.jumbotron
  %h2 Discover the best new food products, everday.
  %p
    Startup Grocery finds the best new products, every day. It's a place for food lovers to find, share and try out the hotest food entrepreneurs best food creations.
  %p
    %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more

.col-xs-12.col-sm-8
  - @product_weeks.sort.each do |week, products|
    %h2
      Week:
      = week.beginning_of_week.strftime('%b %d')
      to
      = week.end_of_week.strftime('%b %d, %Y')
    %hr
    -products.each do |product|
      .media
        .media-left.media-middle
          =link_to product do
            =image_tag(product.images.first.url, class: "media-object", style: "max-width: 300px;")
        .media-body.media-middle
          %h4.media-heading
            =product.name
          %p
            =product.description

      %hr
.col-xs-12.col-sm-4
  Newsletter
