.page-header
  = link_to vendors_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_vendor_path(@vendor), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show vendor

%dl.dl-horizontal
  %dt Name:
  %dd= @vendor.name
  %dt Vendor picture:
  %dd= @vendor.vendor_picture
