.text-center
  %h1=@vendor.name
  .underline
.container.bg-grey
  -@products.each do |product|
    .col-xs-12.col-sm-4
      =render "products/product_cards", product: product

  .clearfix

:javascript
  $(function() {
    $('.week-box').matchHeight();
  });