%center{:style => "width: 100%; background: #f3f3f3; text-align: left;"}
  / Visually Hidden Preheader Text : BEGIN
  %div{:style => "display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;"}
    STARTUP GROCERY WEEKLY DIGEST
    =Time.now.strftime("%b %d, %Y")
  / Visually Hidden Preheader Text : END
  /
    Set the email width. Defined in two places:
    1. max-width for all clients except Desktop Windows Outlook, allowing the email to squish on narrow but never go wider than 680px.
    2. MSO tags for Desktop Windows Outlook enforce a 680px width.
    Note: The Fluid and Responsive templates have a different width (600px). The hybrid grid is more "fragile", and I've found that 680px is a good width. Change with caution.
  .email-container{:style => "max-width: 680px; margin: auto;"}
    /[if mso]
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
      <tr>
      <td>
    / Email Header : BEGIN
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "max-width: 680px;", :width => "100%"}
      %tr
        %td{:style => "padding: 20px 0; text-align: center"}
          %img{:alt => "alt_text", :border => "0", :height => "50", :src => "#{image_url('sug-logo-darker.png')}", :style => "height: auto; background: #f3f3f3; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;", :width => "200"}
    / Email Header : END
    / Email Body : BEGIN
    %table.email-container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "max-width: 680px;", :width => "100%"}
      %tr
        %td{:bgcolor => "#ffffff"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
            %tr
              %td{:style => "padding: 40px 40px 20px; text-align: center;"}
                %h1{:style => "margin: 0; font-family: arial, sans-serif; font-size: 24px; line-height: 39px; color: #333333; font-weight: normal;"} STARTUP GROCERY WEEKLY DIGEST
                %h1{:style => "margin: 0; font-family: arial, sans-serif; font-size: 18px; line-height: 27px; color: #7bba75; font-weight: normal;"} 
                  {
                  =Time.now.strftime("%b %d, %Y")
                  }
            %tr
              %td{:style => "padding: 0 40px 0px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: center;"}
                %p{:style => "margin: 0;"} 
            %tr
              %td{:style => "padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;"}
                / Button : BEGIN
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "margin: auto;"}
                  %tr
                    %td.button-td{:style => "border-radius: 0px; background: #7bba75; text-align: center;"}
                      %a.button-a{:href => "http://www.startupgrocery.com", :style => "background: #7bba75; border: 15px solid #7bba75; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 0px; font-weight: bold;"}
                        %span.button-link{:style => "color:#ffffff;"}     View Online    
                / Button : END
      / 1 Column Text + Button : END
      / Background Image with Text : BEGIN
      %tr
        / Bulletproof Background Images c/o https://backgrounds.cm
        %td{:background => "", :bgcolor => "#222222", :style => "text-align: center; background-position: center center !important; background-size: cover !important;", :valign => "middle"}
          /[if gte mso 9]
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:680px;height:230px; background-position: center center !important;">
            <v:fill type="tile" src="" color="#222222" />
            <v:textbox inset="0,0,0,0">
          %div
            /[if mso]
              <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="500">
              <tr>
              <td align="center" valign="top" width="500">
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "max-width:500px; margin: auto;", :width => "100%"}
              %tr
                %td{:style => "text-align: center; padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #ffffff;", :valign => "middle"}
                  %p{:style => "margin: 0;"}
            /[if mso]
              </td>
              </tr>
              </table>
          /[if gte mso 9]
            </v:textbox>
            </v:rect>
      / Background Image with Text : END
      / 2 Even Columns : BEGIN
      %tr
        %td{:align => "center", :bgcolor => "#ffffff", :height => "100%", :valign => "top", :width => "100%"}
          /[if mso]
            <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
            <tr>
            <td align="center" valign="top" width="660">
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "max-width:660px;", :width => "100%"}
            %tr
              %td{:align => "center", :style => "font-size:0; padding: 10px 0;", :valign => "top"}

                -@products.each do |product|
                  /[if mso]
                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                    <tr>
                    <td align="left" valign="top" width="330">
                  =link_to product do 
                    .stack-column{:style => "display:inline-block; margin: 0 -2px; width:100%; min-width:200px; max-width:330px; vertical-align:top;"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                        %tr
                          %td{:style => "padding: 10px 10px;"}
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size: 14px;text-align: left;", :width => "100%"}
                              %tr{:height=>"450", style: "height: 450px;"}
                                %td{:style => "border: 2px solid #f3f3f3;"}
                                  %img.center-on-narrow{:alt => "alt_text", :border => "0", :height => "", :src => "#{product.images.first}", :style => "width: 100%; max-width: 310px; height: auto; background: transparent; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;", :width => "310"}/
                              %tr
                                %td.stack-column-center{:style => "font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding: 10px 0;border: 2px solid #f3f3f3;background:#f3f3f3;"}
                                  %h1{:style => "margin: 0; font-family: arial, sans-serif; font-size: 18px; color: #555; font-weight: normal;text-align:center;"} 
                                    %b=product.name
                  /[if mso]
                    </td>
                    <td align="left" valign="top" width="330">


                /[if mso]
                  <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                  <tr>
                  <td align="left" valign="top" width="330">
                
    / Email Body : END
    / Email Footer : BEGIN
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "max-width: 680px;color:#fff;font-style:arial;", :width => "100%", :bgcolor => "#7bba75"}
      %tr
        %td.x-gmail-data-detectors{:style => "padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; line-height:18px; text-align: center; color: #fff;"}
          %br/
          %new{:style => "color:#fff;font-size:20px;"}
            Startup Grocery
          %br>/
          837 Traction Ave, Los Angeles, CA 90013
          %br/
          %br/
          %unsubscribe{:style => "color:#fff; text-decoration:underline;"} unsubscribe
    / Email Footer : END
    /[if mso]
      </td>
      </tr>
      </table>