// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary{
  background:#7bba75;
  color:black;
  border:none;
  border-radius:0px;
  padding: 10px 40px;
  transition: background 0.5s ease;
  

  &:hover, &:visited, &:focus{
    background:#99d893;
    color:black;
  }
}

.btn-default{  
  border-radius:0px;
  padding: 10px 40px;
}

h1 {
  font-weight:300!important;
}

.bg-grey {
  background: #eeeeee;
  padding: 50px 0px;
  border-top: #c4c4c4 1px solid;
  h2{font-weight: 100;}
}

.jumbotron{background-color:white;}

.week-box{
  background: white;
  border: 1px solid lightgrey;
  margin-bottom: 30px;
  padding: 15px;
}

.category-box {
  padding: 10px 5px;
  border: 1px solid lightgrey;
  margin: 10px 0;
  background: #f7f7f7;
  
  &:hover{background:white;}
  
  a{color:grey;}
}

.img-bg {
    background: grey;
    width: 25px;
    height: 25px;
    overflow: hidden;
    margin-right: 10px;
}

.navbar-default{background-color:white;}

a{
  color:#7bba75;
  &:hover{color:#7bba75;text-decoration:none;}
}

.vendor-header {
    border-bottom: 1px solid #d1d1d1;
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px 15px 10px;
}

.week-of{border-top:1px solid grey;}
.newsletter-sidebar{background:#f7f7f7;padding:10px;}

.underline{
  border-width: 1px 0 0 0;
  width: 50px;
  clear: both;
  border-top: 2px solid #1c1d1d;
  height:0;
  margin: 20px auto;
}

#about{
  p{font-size: 18px;line-height:40px;}
}

.alert, .modal-content, #basic-addon1, .input-group-lg > .form-control, .form-control{border-radius:0px;}

.alert {
  position: absolute;
  width: 100%;
  z-index: 2000;
}

.media-heading{
  margin-top: 10px;
}



@media only screen and (max-width : 767px) {
  .week-box {
    height: auto !important;
  } 
}