.text-center
  %h1=@category.name
  .underline

.container.bg-grey
  -@products.each do |product|
    .col-xs-12.col-sm-4
      =render "products/product_cards", product: product

:javascript
  $(function() {
    $('.week-box').matchHeight();
  });
