#submitAProduct.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button", style: "padding: 10px;"}
        %span{"aria-hidden" => "true"} ×
      .text-center{style: "margin-top:60px;"}
        %h1 Submit a Product
        .underline
        %p{style:"padding:10px 30px;"} Do you know of a new product for the Startup Grocery? Or do you produce a startup food product? Let us know by sending us an email.
      .modal-body
        =render "product_submits/form"


